extends layout

block content

  h1 Author: #{getAuthor.name}
  p #{getAuthor.dateOfBirth} - #{getAuthor.dateOfDeath}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
      each book in authorsBooks
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This author has no books.