extends layout

block content
  h1 #{title}: #{getBook.title}
  
  p #[strong Author:] 
    a(href=getBook.author.url) #{getBook.author.name}
  p #[strong Summary:] #{getBook.summary}
  p #[strong ISBN:] #{getBook.isbn}
  p #[strong Genre:]&nbsp;
    each val, index in getBook.genre
      a(href=val.url) #{val.name}
      if index < getBook.genre.length - 1
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 Copies
    
    each val in bookInstances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status} 
      p #[strong Imprint:] #{val.imprint}
      if val.status!='Available'
        p #[strong Due back:] #{val.due_back}
      p #[strong Id:]&nbsp;
        a(href=val.url) #{val._id}
 
    else
      p There are no copies of this book in the library.
  hr
  p
    a(href=getBook.url+'/delete') Delete Book
  p
    a(href=getBook.url+'/update') Update Book